@page "/cosmetology"

<h3 style="padding-top: 8%;"></h3>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item p-1"><a href="/">Домашня сторінка</a></li>
        <li class="breadcrumb-item active p-1" aria-current="page">Косметологія</li>
    </ol>
</nav>
<div>
    <div class="container col-10 col-sm-12  ">
        <div class="row d-flex  justify-content-center m-sm-12">


            <div class="card-deck card-sm-gutters-3 d-block d-sm-flex col-md-4 col-sm-offset-8 col-xs-12 text-center padding wow fadeIn service-item  p-3 mb-5 rounded card-sm-gutters-1 d-block d-sm-flex">
                <div class="card shadow-lg h-100 mb-3">
                    <img src="/img/foto5.jpeg" class="img-thumbnail text-right" style="margin-right:auto;margin-left:auto; width:100%" alt="" />
                    <div class="card-body ">
                        <h5 class="card-title">Механічна чистка обличчя </h5>
                        <p class="card-text">Чищення обличчя (може бути механічне, ультразвукове або комбіноване) дозволяє позбавитися від забруднень, ороговілих клітин, а також чорних точок, висипань, комедонів. Завдяки такій процедурі вирівнюється тон шкіри, зникає надмірний блиск та підвищується тургор.</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-outline-primary text-center m-1" href="">1 Грн</a>
                    </div>
                </div>
            </div>

            <div class="card-deck card-sm-gutters-3 d-block d-sm-flex col-md-4 col-sm-offset-8 col-xs-12 text-center padding wow fadeIn service-item  p-3 mb-5 rounded card-sm-gutters-1 d-block d-sm-flex">
                <div class="card shadow-lg h-100 mb-3">
                    <img src="/img/foto7.jpeg" class="img-thumbnail text-right" style="margin-right:auto;margin-left:auto; width:100%" alt="" />
                    <div class="card-body ">
                        <h5 class="card-title">Мезотерапія </h5>
                        <p class="card-text">Мезотерапія ― це введення препаратів у шкіру і підшкірну жирову клітковину для покращення їх стану. Процедура допомагає зробити шкіру більш еластичною, пружною та зволоженою. За допомогою мезотерапії лікують акне, купероз, прибирають набряклість та синці під очима. Шкіра після введення поживних компонентів розгладжується, зморшки та рубці на обличчі стають менш помітними.</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-outline-primary text-center m-1" href="">2 Грн</a>
                    </div>
                </div>
            </div>

            <div class="card-deck card-sm-gutters-3 d-block d-sm-flex col-md-4 col-sm-offset-8 col-xs-12 text-center padding wow fadeIn service-item  p-3 mb-5 rounded card-sm-gutters-1 d-block d-sm-flex">
                <div class="card shadow-lg h-100 mb-3">
                    <img src="/img/foto11.jpeg" class="img-thumbnail text-right" style="margin-right:auto;margin-left:auto; width:100%" alt="" />
                    <div class="card-body ">
                        <h5 class="card-title">Косметика  Renew, Anubis.</h5>
                        <p class="card-text">Anubis Barcelona - це широкий асортимент косметичних продуктів: засоби для очищення шкіри, тонізування, зволоження, живлення та захисту від шкідливих впливів довкілля. Бренд також має лінію антивікових продуктів, засоби для догляду за шкірою навколо очей та губ, сонцезахисні засоби та багато іншого. Крім того, професійні продукти для салонів краси та SPA-центрів, що дозволяють косметологам та естетистам досягти максимального ефекту при проведенні процедур догляду за шкірою.</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-outline-primary text-center m-1" href="">3 Грн</a>
                    </div>
                </div>
            </div>

            <div class="card-deck card-sm-gutters-3 d-block d-sm-flex col-md-4 col-sm-offset-8 col-xs-12 text-center padding wow fadeIn service-item  p-3 mb-5 rounded card-sm-gutters-1 d-block d-sm-flex">
                <div class="card shadow-lg h-100 mb-3">
                    <img src="/img/foto7.jpeg" class="img-thumbnail text-right" style="margin-right:auto;margin-left:auto; width:100%" alt="" />
                    <div class="card-body ">
                        <h5 class="card-title">Механічна чистка обличчя </h5>
                        <p class="card-text">Чищення обличчя (може бути механічне, ультразвукове або комбіноване) дозволяє позбавитися від забруднень, ороговілих клітин, а також чорних точок, висипань, комедонів. Завдяки такій процедурі вирівнюється тон шкіри, зникає надмірний блиск та підвищується тургор.</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-outline-primary text-center m-1" href="">4 Грн</a>
                    </div>
                </div>
            </div>

            <div class="card-deck card-sm-gutters-3 d-block d-sm-flex col-md-4 col-sm-offset-8 col-xs-12 text-center padding wow fadeIn service-item  p-3 mb-5 rounded card-sm-gutters-1 d-block d-sm-flex">
                <div class="card shadow-lg h-100 mb-3">
                    <img src="/img/foto9.jpeg" class="img-thumbnail text-right" style="margin-right:auto;margin-left:auto; width:100%" alt="" />
                    <div class="card-body ">
                        <h5 class="card-title">Мезотерапія </h5>
                        <p class="card-text">Мезотерапія ― це введення препаратів у шкіру і підшкірну жирову клітковину для покращення їх стану. Процедура допомагає зробити шкіру більш еластичною, пружною та зволоженою. За допомогою мезотерапії лікують акне, купероз, прибирають набряклість та синці під очима. Шкіра після введення поживних компонентів розгладжується, зморшки та рубці на обличчі стають менш помітними.</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-outline-primary text-center m-1" href="">5 Грн</a>
                    </div>
                </div>
            </div>

            <div class="card-deck card-sm-gutters-3 d-block d-sm-flex col-md-4 col-sm-offset-8 col-xs-12 text-center padding wow fadeIn service-item  p-3 mb-5 rounded card-sm-gutters-1 d-block d-sm-flex">
                <div class="card shadow-lg h-100 mb-3">
                    <img src="/img/foto2.jpeg" class="img-thumbnail text-right" style="margin-right:auto;margin-left:auto; width:100%" alt="" />
                    <div class="card-body ">
                        <h5 class="card-title">Косметика  Renew, Anubis.</h5>
                        <p class="card-text">Anubis Barcelona - це широкий асортимент косметичних продуктів: засоби для очищення шкіри, тонізування, зволоження, живлення та захисту від шкідливих впливів довкілля. Бренд також має лінію антивікових продуктів, засоби для догляду за шкірою навколо очей та губ, сонцезахисні засоби та багато іншого. Крім того, професійні продукти для салонів краси та SPA-центрів, що дозволяють косметологам та естетистам досягти максимального ефекту при проведенні процедур догляду за шкірою.</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-outline-primary text-center m-1" href="">6 Грн</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@code {
    string cosmetology = "Космитологія";
}
