@page "/cosmetology"

<h3 style="padding-top: 8%;"></h3>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item p-1"><a href="/">Домашня сторінка</a></li>
        <li class="breadcrumb-item active p-1" aria-current="page">Косметологія</li>
    </ol>
</nav>
<div>
    <div class="container col-10 col-sm-12  ">
        <div class="row d-flex  justify-content-center m-sm-12">


            <div class="card-deck card-sm-gutters-3 d-block d-sm-flex col-md-4 col-sm-offset-8 col-xs-12 text-center padding wow fadeIn service-item  p-3 mb-5 rounded card-sm-gutters-1 d-block d-sm-flex">
                <div class="card shadow-lg h-100 mb-3">
                    <img src="/img/foto5.jpeg" class="img-thumbnail text-right" style="margin-right:auto;margin-left:auto; width:100%" alt="" />
                    <div class="card-body ">
                        <h5 class="card-title">Пілінг</h5>
                        <p class="card-text">@ShowDescriptionPeeling()</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-outline-primary text-center m-1" href="">від 600 Грн</a>
                    </div>
                </div>
            </div>

            <div class="card-deck card-sm-gutters-3 d-block d-sm-flex col-md-4 col-sm-offset-8 col-xs-12 text-center padding wow fadeIn service-item  p-3 mb-5 rounded card-sm-gutters-1 d-block d-sm-flex">
                <div class="card shadow-lg h-100 mb-3">
                    <img src="/img/foto11.jpeg" class="img-thumbnail text-right" style="margin-right:auto;margin-left:auto; width:100%" alt="" />
                    <div class="card-body ">
                        <h5 class="card-title">Мезотерапія обличчя (60 хв) </h5>
                        <p class="card-text">Мезотерапія ― це введення препаратів у шкіру і підшкірну жирову клітковину для покращення їх стану. Процедура допомагає зробити шкіру більш еластичною, пружною та зволоженою. За допомогою мезотерапії лікують акне, купероз, прибирають набряклість та синці під очима. Шкіра після введення поживних компонентів розгладжується, зморшки та рубці на обличчі стають менш помітними.</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-outline-primary text-center m-1" href="">1000 -1200 Грн</a>
                    </div>
                </div>
            </div>

            <div class="card-deck card-sm-gutters-3 d-block d-sm-flex col-md-4 col-sm-offset-8 col-xs-12 text-center padding wow fadeIn service-item  p-3 mb-5 rounded card-sm-gutters-1 d-block d-sm-flex">
                <div class="card shadow-lg h-100 mb-3">
                    <img src="/img/foto12.jpeg" class="img-thumbnail text-right" style="margin-right:auto;margin-left:auto; width:100%" alt="" />
                    <div class="card-body ">
                        <h5 class="card-title">Мезотерапія (60 хв)</h5>
                        <p class="card-text">@ShowDescriptionMesotherapyEyes()</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-outline-primary text-center m-1" href="">800 Грн</a>
                    </div>
                </div>
            </div>

            @* <div class="card-deck card-sm-gutters-3 d-block d-sm-flex col-md-4 col-sm-offset-8 col-xs-12 text-center padding wow fadeIn service-item  p-3 mb-5 rounded card-sm-gutters-1 d-block d-sm-flex">
                <div class="card shadow-lg h-100 mb-3">
                    <img src="/img/foto11.jpeg" class="img-thumbnail text-right" style="margin-right:auto;margin-left:auto; width:100%" alt="" />
                    <div class="card-body ">
                        <h5 class="card-title">Мезотерапія (40 - 60 хв) </h5>
                        <p class="card-text">Мезотерапія- введення  лікарських препаратів та вітамінів. Може бути вирішенням таких проблем як : купероз, тьмяність шкіри, набряки під очима, гіперпігментація, дрібні зморшки</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-outline-primary text-center m-1" href="">800 Грн</a>
                    </div>
                </div>
            </div> *@
            <div class="card-deck card-sm-gutters-3 d-block d-sm-flex col-md-4 col-sm-offset-8 col-xs-12 text-center padding wow fadeIn service-item  p-3 mb-5 rounded card-sm-gutters-1 d-block d-sm-flex">
                <div class="card shadow-lg h-100 mb-3">
                    <img src="/img/foto39.jpeg" class="img-thumbnail text-right" style="margin-right:auto;margin-left:auto; width:100%; height:57%" alt="" />
                    <div class="card-body ">
                        <h5 class="card-title">Мезотерапія шиї та декольте (60 хв)</h5>
                        <p class="card-text">Шия та декольте найбільше видає вік жінки. Тому ці ділянки потребують догляду, так як і личко</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-outline-primary text-center m-1" href=""> 1200 Грн</a>
                    </div>
                </div>
            </div>

            <div class="card-deck card-sm-gutters-3 d-block d-sm-flex col-md-4 col-sm-offset-8 col-xs-12 text-center padding wow fadeIn service-item  p-3 mb-5 rounded card-sm-gutters-1 d-block d-sm-flex">
                <div class="card shadow-lg h-100 mb-3">
                    <img src="/img/foto46.jpeg" class="img-thumbnail text-right" style="margin-right:auto;margin-left:auto; width:100%; height:57%" alt="" />
                    <div class="card-body ">
                        <h5 class="card-title">Біоревіталізація (40-60 хв)</h5>
                        <p class="card-text">Біоревіталізація - введення препаратів на основі гіалуронової кислоти. Показання: втрата пружності шкіри, порушення водного балансу, вікова шкіра.</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-outline-primary text-center m-1" href="">від 3500 Грн</a>
                    </div>
                </div>
            </div>

            <div class="card-deck card-sm-gutters-3 d-block d-sm-flex col-md-4 col-sm-offset-8 col-xs-12 text-center padding wow fadeIn service-item  p-3 mb-5 rounded card-sm-gutters-1 d-block d-sm-flex">
                <div class="card shadow-lg h-100 mb-3">
                    <img src="/img/foto43.jpg" class="img-thumbnail text-right" style="margin-right:auto;margin-left:auto; width:100%; height:57%" alt="" />
                    <div class="card-body ">
                        <h5 class="card-title">Чистка лиця (120 хв)</h5>
                        <p class="card-text">Чистка обличчя допоможе відлущити ороговілий шар шкіри, очистить пори, комедони та запальні елементи, покращить мікроциркуляцію  шкіри</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-outline-primary text-center m-1" href="">900 - 1200 Грн</a>
                    </div>
                </div>
            </div>                      


            <div class="card-deck card-sm-gutters-3 d-block d-sm-flex col-md-4 col-sm-offset-8 col-xs-12 text-center padding wow fadeIn service-item  p-3 mb-5 rounded card-sm-gutters-1 d-block d-sm-flex">
                <div class="card shadow-lg h-100 mb-3">

                    <div class="ratio ratio-16x9">
                        <iframe src="https://www.youtube.com/embed/yIwZnbk4ylo"
                                title="YouTube video"
                                referrerpolicy="no-referrer-when-downgrade" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                        </iframe>
                    </div>

                    <div class="card-body ">
                        <h5 class="card-title">Чистка лиця (120 хв)</h5>
                        <p class="card-text">Чистка обличчя допоможе відлущити ороговілий шар шкіри, очистить пори, комедони та запальні елементи, покращить мікроциркуляцію  шкіри</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-outline-primary text-center m-1" href="">900 - 1200 Грн</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@code {
        string cosmetology = "Космитологія";

        public string ShowDescriptionPeeling()
        {
            return GeneralStatic.PeelingTextDescription();
        }

        public string ShowDescriptionMesotherapy()
        {
            return GeneralStatic.PeelingTextDescription();
        }

    public string ShowDescriptionMesotherapyEyes()
    {
        return GeneralStatic.MesotherapyEyesTextDescription();
    }
}
