@page "/"



@inject CategoryService _categoryService
<!-- Spinner Start -->
@* <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div> *@
<!-- Spinner End -->

<div >


    <div class="container-fluid team py-3">
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="img/foto002.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="img/saloncrasu2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="img/saloncrasu3.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- Carousel End -->
<!-- Services Start -->
<div class="container-fluid service py-4">
    <div class="container py-4">
        <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.2s">
            <div class="sub-style">
                <h4 class="sub-title px-3 mb-0">Що ми робимо</h4>
            </div>
            <h1 class="display-3 mb-4">Наші послуги: фізіотерапія від експерта.</h1>
            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat deleniti amet at atque sequi quibusdam cumque itaque repudiandae temporibus, eius nam mollitia voluptas maxime veniam necessitatibus saepe in ab? Repellat!</p>
        </div>                      
       
        <div class="row g-4 justify-content-center">
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item rounded">
                            <div class="service-img rounded-top">
                                <img src="img/foto3.jpeg" class="img-fluid rounded-top w-100" alt="">
                            </div>
                            <div class="service-content rounded-bottom bg-light p-4">
                                <div class="service-content-inner">
                                    <h5 class="mb-4">Косметологія</h5>
                                    <p class="mb-4">@ShowDescriptionCosmetology()</p>
                                    <a href="cosmetology" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Читати більше</a>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item rounded">
                            <div class="service-img rounded-top">
                                <img src="#" class="img-fluid rounded-top w-100" alt="">
                            </div>
                            <div class="service-content rounded-bottom bg-light p-4">
                                <div class="service-content-inner">
                                    <h5 class="mb-4">Масажна терапія</h5>
                                    <p class="mb-4">Dolor, sit amet consectetur adipisicing elit. Soluta inventore cum accusamus, dolor qui ullam</p>
                                    <a href="massage-therapy" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Читати більше</a>
                                </div>
                            </div>
                        </div>
                    </div>                
                                                  
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item rounded">
                            <div class="service-img rounded-top">
                           <img src="#" class="img-fluid rounded-top w-100" alt="">
                            </div>
                            <div class="service-content rounded-bottom bg-light p-4">
                                <div class="service-content-inner">
                                    <h5 class="mb-4">Манікюр</h5>
                                    <p class="mb-4">Dolor, sit amet consectetur adipisicing elit. Soluta inventore cum accusamus, dolor qui ullam</p>
                                    <a href="manicure" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Читати більше</a>
                                </div>
                            </div>
                        </div>
                    </div>
                                      

                                                  
              @*   <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item rounded">
                        <div class="service-img rounded-top">
                            <img src="img/service-2.jpg" class="img-fluid rounded-top w-100" alt="">
                        </div>
                        <div class="service-content rounded-bottom bg-light p-4">
                            <div class="service-content-inner">
                                <h5 class="mb-4">@item.Name</h5>
                                <p class="mb-4">Dolor, sit amet consectetur adipisicing elit. Soluta inventore cum accusamus, dolor qui ullam</p>
                                <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item rounded">
                        <div class="service-img rounded-top">
                            <img src="img/service-3.jpg" class="img-fluid rounded-top w-100" alt="">
                        </div>
                        <div class="service-content rounded-bottom bg-light p-4">
                            <div class="service-content-inner">
                                <h5 class="mb-4">@item.Name</h5>
                                <p class="mb-4">Dolor, sit amet consectetur adipisicing elit. Soluta inventore cum accusamus, dolor qui ullam</p>
                                <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Read More</a>
                            </div>
                        </div>
                    </div>
                </div> *@
            
           
          @*   <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item rounded">
                    <div class="service-img rounded-top">
                        <img src="img/service-4.jpg" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="service-content rounded-bottom bg-light p-4">
                        <div class="service-content-inner">
                            <h5 class="mb-4">Chiropatic Therapy</h5>
                            <p class="mb-4">Dolor, sit amet consectetur adipisicing elit. Soluta inventore cum accusamus, dolor qui ullam</p>
                            <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded">
                    <div class="service-img rounded-top">
                        <img src="img/service-5.jpg" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="service-content rounded-bottom bg-light p-4">
                        <div class="service-content-inner">
                            <h5 class="mb-4">Work Injuries</h5>
                            <p class="mb-4">Dolor, sit amet consectetur adipisicing elit. Soluta inventore cum accusamus, dolor qui ullam</p>
                            <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded">
                    <div class="service-img rounded-top">
                        <img src="img/service-6.jpg" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="service-content rounded-bottom bg-light p-4">
                        <div class="service-content-inner">
                            <h5 class="mb-4">Spot Injuries</h5>
                            <p class="mb-4">Dolor, sit amet consectetur adipisicing elit. Soluta inventore cum accusamus, dolor qui ullam</p>
                            <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded">
                    <div class="service-img rounded-top">
                        <img src="img/service-7.jpg" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="service-content rounded-bottom bg-light p-4">
                        <div class="service-content-inner">
                            <h5 class="mb-4">Regular Therapy</h5>
                            <p class="mb-4">Dolor, sit amet consectetur adipisicing elit. Soluta inventore cum accusamus, dolor qui ullam</p>
                            <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item rounded">
                    <div class="service-img rounded-top">
                        <img src="img/service-8.jpg" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="service-content rounded-bottom bg-light p-4">
                        <div class="service-content-inner">
                            <h5 class="mb-4">Back Pain</h5>
                            <p class="mb-4">Dolor, sit amet consectetur adipisicing elit. Soluta inventore cum accusamus, dolor qui ullam</p>
                            <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Read More</a>
                        </div>
                    </div>
                </div>
            </div> *@
          @*   <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.2s">
                <a class="btn btn-primary rounded-pill text-white py-3 px-5" href="#">Services More</a>
            </div> *@


            <div class="container-fluid team py-5">
                <div class="container py-5">
                    <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <div class="sub-style">
                            <h4 class="sub-title px-3 mb-0">Зустрічайте нашу команду</h4>
                        </div>
                        <h1 class="display-3 mb-4">Фізіотерапевтичні послуги професійного терапевта</h1>
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat deleniti amet at atque sequi quibusdam cumque itaque repudiandae temporibus, eius nam mollitia voluptas maxime veniam necessitatibus saepe in ab? Repellat!</p>
                    </div>
                    <div class="row g-4 justify-content-center">
                        <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                            <div class="team-item rounded">
                                <div class="team-img rounded-top h-100">
                                    <img src="img/team-1.jpg" class="img-fluid rounded-top w-100" alt="">
                                    <div class="team-icon d-flex justify-content-center">
                                        <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                        <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                                        <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                                        <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                                <div class="team-content text-center border border-primary border-top-0 rounded-bottom p-4">
                                    <h5>Оленка Максимів</h5>
                                    <p class="mb-4">Майстриня манік'юру</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                            <div class="team-item rounded">
                                <div class="team-img rounded-top h-100">
                                    <img src="img/team-3.jpg" class="img-fluid rounded-top w-100" alt="">
                                    <div class="team-icon d-flex justify-content-center">
                                        <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                        <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                                        <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                                        <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                                <div class="team-content text-center border border-primary border-top-0 rounded-bottom p-4">
                                    <h5>Леся Зелінська</h5>
                                    <p class="mb-0">Косметолог — фахівець, який збереже вашу молодість.</p>
                                </div>
                            </div>
                        </div>
                       @*  <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                            <div class="team-item rounded">
                                <div class="team-img rounded-top h-100">
                                    <img src="img/team-3.jpg" class="img-fluid rounded-top w-100" alt="">
                                    <div class="team-icon d-flex justify-content-center">
                                        <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                        <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                                        <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                                        <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                                <div class="team-content text-center border border-primary border-top-0 rounded-bottom p-4">
                                    <h5>Full Name</h5>
                                    <p class="mb-0">Doctor of Physical therapy</p>
                                </div>
                            </div>
                        </div> *@
                      @*   <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                            <div class="team-item rounded">
                                <div class="team-img rounded-top h-100">
                                    <img src="img/team-4.jpg" class="img-fluid rounded-top w-100" alt="">
                                    <div class="team-icon d-flex justify-content-center">
                                        <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                        <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                                        <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                                        <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                                <div class="team-content text-center border border-primary border-top-0 rounded-bottom p-4">
                                    <h5>Full Name</h5>
                                    <p class="mb-0">Doctor of Physical therapy</p>
                                </div>
                            </div>
                        </div> *@
                    </div>
                </div>
            </div>


                   
         </div>

                <div class="section-title mb-0 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="sub-style">
                        <h4 class="sub-title px-3 mb-0">З чим ми працюємо</h4>
                    </div>
                    <h3 class="display-3 mb-4">Ми використовуємо косметику тільки преміум-марок.</h3>
                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat deleniti amet at atque sequi quibusdam cumque itaque repudiandae temporibus, eius nam mollitia voluptas maxime veniam necessitatibus saepe in ab? Repellat!</p>
                </div>

                <!-- Icon Blocks Section -->
                <div class="container space-top-2">
                    <div class="row">
                        <div class="col-md-4 mb-0">
                            <div class="text-center px-lg-3">
                                <span class="btn btn-icon btn-lg btn-soft-danger rounded-circle mb-0">
                                    @* <span class="fab fa-yelp btn-icon__inner fa-2x btn-icon__inner-bottom-minus"></span> *@
                                    <img src="/img/saypha-Logo-with-subtitles.jpg" class="img-fluid rounded-top w-10">
                                </span>
                                
                              @*   <h3 class="h5">Saypha</h3>
                                <p class="mb-md-0">Achieve virtually any design and layout from within the one template.</p> *@
                            </div>
                        </div>

                        <div class="col-md-4 mb-7">
                            <div class="text-center px-lg-5">
                                <span class="btn btn-icon btn-lg btn-soft-primary rounded-circle mb-5">
                                   @*  <span class="fas fa-fire btn-icon__inner fa-2x btn-icon__inner-bottom-minus"></span> *@
                                    <img src="/img/glymed.jpeg" class="img-fluid rounded-top w-60">
                                </span>
                               @*  <h3 class="h5">Front Strategy</h3>
                                <p class="mb-md-0">We strive to figure out ways to help your business grow through all platforms.</p> *@
                            </div>
                        </div>

                        <div class="col-md-4 mb-7">
                            <div class="text-center px-lg-3">
                                <span class="btn btn-icon btn-lg btn-soft-success rounded-circle mb-5">
                                    <img src="/img/simild.png" class="img-fluid rounded-top w-10">
                                </span>
                                @* <h3 class="h5">Unlimited Power</h3>
                                <p class="mb-md-0">Find what you need in one template and combine features at will.</p> *@
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Icon Blocks Section -->
    </div>

          
</div>
</div>
</div>
<!-- Services End -->

    @code{

    public string ShowDescriptionCosmetology()
    {
        return GeneralStatic.ShowDescriptionsTextCosmetology();
    }
  }