@page "/massage-therapy"


<h3 style="padding-top: 5%;"></h3>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item p-1"><a href="/">Домашня сторінка</a></li>
        <li class="breadcrumb-item active p-1" aria-current="page">Масаж</li>
    </ol>
</nav>

@code {
    string massageTherapy = "Масажна терапія";
}
