@page "/massage-therapy"


<h3 style="padding-top: 5%;"></h3>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item p-1"><a href="/">Домашня сторінка</a></li>
        <li class="breadcrumb-item active p-1" aria-current="page">Масаж</li>
    </ol>
</nav>

<div class="container col-10 col-sm-12  ">
    <div class="row d-flex  justify-content-center m-sm-12">      
                   
       @*  <div class="card-deck card-sm-gutters-3 d-block d-sm-flex col-md-4 col-sm-offset-8 col-xs-12 text-center padding wow fadeIn service-item  p-3 mb-5 rounded card-sm-gutters-1 d-block d-sm-flex">
            <div class="card shadow-lg h-100 mb-3">
                <img src="/img/foto39.jpeg" class="img-thumbnail text-right" style="margin-right:auto;margin-left:auto; width:100%; height:57%" alt="" />
                <div class="card-body ">
                    <h5 class="card-title">Мезотерапія шиї та декольте (60 хв)</h5>
                    <p class="card-text">Шия та декольте найбільше видає вік жінки. Тому ці ділянки потребують догляду, так як і личко</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-outline-primary text-center m-1" href=""> 1200 Грн</a>
                </div>
            </div>
        </div>

        <div class="card-deck card-sm-gutters-3 d-block d-sm-flex col-md-4 col-sm-offset-8 col-xs-12 text-center padding wow fadeIn service-item  p-3 mb-5 rounded card-sm-gutters-1 d-block d-sm-flex">
            <div class="card shadow-lg h-100 mb-3">
                <img src="/img/foto48.jpeg" class="img-thumbnail text-right" style="margin-right:auto;margin-left:auto; width:100%; height:57%" alt="" />
                <div class="card-body ">
                    <h5 class="card-title">Мезотерапія волосся (30-40 хв)</h5>
                    <p class="card-text">Мезотерапія волосся допоможе у боротьбі з випадінням, при себореї, покращить структуру волосся та надасть йому здоровий вигляд.</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-outline-primary text-center m-1" href=""> 650 Грн</a>
                </div>
            </div>
        </div> *@

                   
        <div class="card-deck card-sm-gutters-3 d-block d-sm-flex col-md-4 col-sm-offset-8 col-xs-12 text-center padding wow fadeIn service-item  p-3 mb-5 rounded card-sm-gutters-1 d-block d-sm-flex">
            <div class="card shadow-lg h-100 mb-3">

                <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/8AcjZM7DOuk"
                            title="YouTube video"
                            referrerpolicy="no-referrer-when-downgrade" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                    </iframe>
                </div>
                <div class="card-body ">
                    <h5 class="card-title">Комплексний масаж спини (40 хв)</h5>
                    <p class="card-text">Комплексний масаж спини (спина, руки, груди, голова) - полегшить біль в спині, зменшить головні болі.</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-outline-primary text-center m-1" href="">500 Грн</a>
                </div>
            </div>
        </div>

      
        <div class="card-deck card-sm-gutters-3 d-block d-sm-flex col-md-4 col-sm-offset-8 col-xs-12 text-center padding wow fadeIn service-item  p-3 mb-5 rounded card-sm-gutters-1 d-block d-sm-flex">
            <div class="card shadow-lg h-100 mb-3">

                <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/ikHn4dHpHqA"
                            title="YouTube video"
                            referrerpolicy="no-referrer-when-downgrade" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                    </iframe>
                </div>

                <div class="card-body ">
                    <h5 class="card-title">Масаж всього тіла  (60 хв)</h5>
                    <p class="card-text">Масаж всього тіла допоможе зняти напругу в мʼязах, покращить кровопостачання, лімфовідтік. Покращить ваш сон і самопочуття.</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-outline-primary text-center m-1" href="">700 Грн</a>
                </div>
            </div>
        </div>


    </div>
</div>

@code {
    string massageTherapy = "Масажна терапія";
}
