@page "/our-services"
@using webBeauty1.Helper


<h3 style="padding-top: 7%;"></h3>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item p-1"><a href="/">Домашня сторінка</a></li>
        <li class="breadcrumb-item active p-1" aria-current="page">Наші послуги</li>
    </ol>
</nav>
<div class="container space-2 space-top-md-5 space-top-lg-4">
    <div class="w-lg-80 text-center mx-lg-auto">
        <div class="mb-11">
            <h1 class="display-4 font-weight-semi-bold">Наші послуги</h1>
            <p class="lead font-weight-normal">@ShowDescription()</p>
        </div>
    </div>
    <!-- Gallery Section -->
    <div class="row mx-n2">
        <div class="col-md px-2 mb-3">
            <div class="height-250 bg-img-hero" style="background-image: url(../wwwroot/img/carousel2.jpg);"></div>
            <div> <img src="/img/foto1.jpeg" class="img-thumbnail text-right" style="margin-right:auto;margin-left:auto; width:100%" alt="" /></div>

        </div>
        <div class="col-md-3 px-2 mb-3">
            <div> <img src="/img/foto2.jpeg" class="img-thumbnail text-right" style="margin-right:auto;margin-left:auto; width:100%" alt="" /></div>
        </div>
        <div class="col-md px-2 mb-3">
            <div> <img src="/img/foto3.jpeg" class="img-thumbnail text-right" style="margin-right:auto;margin-left:auto; width:100%" alt="" /></div>
        </div>

        <div class="w-100"></div>

        <div class="col-md px-2 mb-3 mb-md-0">
            <div> <img src="/img/foto4.jpeg" class="img-thumbnail text-right" style="margin-right:auto;margin-left:auto; width:100%" alt="" /></div>
        </div>
        <div class="col-md-4 px-2 mb-3 mb-md-0">
            <div> <img src="/img/foto5.jpeg" class="img-thumbnail text-right" style="margin-right:auto;margin-left:auto; width:100%" alt="" /></div>
        </div>
        <div class="col-md px-2">
            <div> <img src="/img/foto6.jpeg" class="img-thumbnail text-right" style="margin-right:auto;margin-left:auto; width:100%" alt="" /></div>
        </div>
    </div>
    <!-- End Gallery Section -->

</div>


@code {

    public string ShowDescription()
    {       
        return GeneralStatic.ShowDescription();
    }
            
}
